name: github-publish

on:
  workflow_dispatch:
  push:
    branch:
      - sravan/publish-0.4.11

jobs:
  github-publish:
    name: github-publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: "12.x"
        registry-url: "https://npm.pkg.github.com"
        scope: "@hitz-group"
    - name: Install Node Dependencies
      run: yarn install
    - name: Build packages
      run: yarn build
      env:
        CI: "TRUE"
    - name: Publish package
      run: npm publish
      env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}